.CoinFlipper {
  background-color: white;
  width: 500px;
  height: 580px;
  border: 3px solid black;
  border-radius: 25px;
  margin: 10px auto;
}

.CoinFlipper h1 {
  color: black;
  margin: 20px auto;
}

.CoinFlipper button {
  top: 0;
  left: 0;
  transition: all .15s linear 0s;
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background-color: rgb(209, 209, 209);
  
  text-transform: uppercase;
  color: grey;
  font-family: arial;
  letter-spacing: 1px;
  
  box-shadow: -6px 6px 0 grey;
  text-decoration: none;
  cursor: pointer;
}
  
.CoinFlipper button:hover {
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0 grey;
}
  
.CoinFlipper button:hover::after {
  top: 1px;
  left: -2px;
  width: 8px;
  height: 8px;
}
  
.CoinFlipper button:hover::before {
  bottom: -2px;
  right: 1px;
  width: 8px;
  height: 8px;
}
  
.CoinFlipper button:hover::after {
  transition: all .15s linear 0s;
  content: '';
  position: absolute;
  top: 2px;
  left: -4px;
  width: 4px;
  height: 4px;
  background-color: grey;
  transform: rotate(45deg);
  z-index: -1;
  
}

.CoinFlipper button:hover::before {
  transition: all .15s linear 0s;
  content: '';
  position: absolute;
  bottom: -4px;
  right: 2px;
  width: 4px;
  height: 4px;
  background-color: grey;
  transform: rotate(45deg);
  z-index: -1;
}

.button:active {
  top: 6px;
  left: -6px;
  box-shadow: none;
}
  
.button:active:before {
  bottom: 1px;
  right: 1px;
}

.button:active:after {
  top: 1px;
  left: 1px;
}

.CoinFlipper button.Reset {
  background-color: red;
  color: white;
}