body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23181a15' stroke-width='68.8' stroke-opacity='0.11' %3E%3Ccircle fill='%23ffffff' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23f0f0f0' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23e2e2e2' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23d4d4d4' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23c6c6c6' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23b8b8b8' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23aaaaaa' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%239d9d9d' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23909090' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23838383' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23767676' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23696969' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%235d5d5d' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23515151' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23454545' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233a3a3a' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232f2f2f' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23242424' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
